---
layout: default
title: 关于我
page-title: About Me
home-title: 这是一个奇怪的人.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.author %}
          <div class="portraits"><img src="{{ site.portraits }}" alt=""></div>
          <span id="yourname">{{ site.name }}</span>
          <span id="yourbio">{{ site.bio }}</span>
          {% if site.about %}
            <span id="aboutyou">{{ site.aboutyou }}</span>
          {% endif %}
        {% endif %}
        {% if site.SNS %}
          {% for sns-icon in site.SNS-icon %}
          {% assign iconName = sns-icon[0] %}
          {% assign link = sns-icon[1] %}
          <div style="display: inline;">
            <a href="{{ link }}" title="{{ iconName }}" id="{{ iconName }}-icon" {% if site.SNS-qrcode[iconName] %}showQRcode{% endif %}>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-{{ iconName }}"></use>
              </svg>
              
            </a>
            {% if site.SNS-qrcode[iconName] %}
            <div id="{{ iconName }}-QRcode" class="fadeOutUp self-animated QRcode">
              <img src="/assets/images/qrcodes/{{ iconName }}-QRcode.jpg" alt="{{ iconName }}-qrcode" class="QRImg"/>
            </div>
            <script>
              $(function() {
                var {{ iconName }} = $("#{{ iconName }}-icon").tooltip({
                  disabled: true,
                  position: {
                    my: "top",
                    at: "bottom"
                  },
                  classes: {
                    "ui-dialog": "fadeInUp"
                  },
                  show: {
                    effect: "slideDown",
                    delay: 100,
                  },
                  hide: {
                    effect: "explode",
                    delay: 500,
                    pieces: 4
                  },
                  content: '<img src="/assets/images/qrcodes/{{ iconName }}-QRcode.jpg" alt="{{ iconName }}-qrcode" class="QRImg"/>'
                });
                $("#{{ iconName }}-icon").click(function(){
                  {{ iconName }}.tooltip("enable");
                  {{ iconName }}.tooltip("open");
                });
                $("#{{ iconName }}-icon").mouseout(function() {
                  {{ iconName }}.tooltip("disable");
                });
              });
            </script>
            {% endif %}
          </div>
          {% endfor%}
        {% endif %}
      </li>
      <li class="fadeInUp animated">
      {% if site.tags.size>0 %}
          {% for tag in site.tags %}
          <a href="tags.html#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
          {% endfor %}
      {% endif %}
      </li>
    </ul>
</main>
{% include footer.html %}