---
layout: default
title: 关于我
page-title: About Me
home-title: 这是一个奇怪的人.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.author %}
          <div class="portraits"><img src="{{ site.portraits }}" alt=""></div>
          <span id="yourname">{{ site.name }}</span>
          <span id="yourbio">{{ site.bio }}</span>
          {% if site.about %}
            <span id="aboutyou">{{ site.aboutyou }}</span>
          {% endif %}
        {% endif %}
        {% if site.SNS %}
          {% for sns-icon in site.SNS-icon %}
          {% assign iconName = sns-icon[0] %}
          {% assign link = sns-icon[1] %}
          <div style="width: 28px; height: 28px; display: inline;" id="{{ iconName }}-icon">
          <a href="{{ link }}" title="{{ iconName }}"  {% if site.SNS-qrcode[iconName] or iconName == 'mail' %}showQRcode{% else %}target="_blank"{% endif %}>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-{{ iconName }}"></use>
            </svg>
          </a>
        </div>
            {% if site.SNS-qrcode[iconName] %}
            <script>
              $(function() {
                $("#{{ iconName}}-icon").popover({
                  html: true,
                  placement: 'top',
                  trigger: 'focus',
                  content: '<img src="/assets/images/qrcodes/{{ iconName }}-QRcode.jpg" alt="{{ iconName }}-qrcode" class="QRImg"/>'
                })
              })
            </script>
            {% endif %}
            {% if iconName == 'mail' %}
            <script>
            $(function() {
                $("#mail-icon").popover({
                  content: function() {
                    var res = '';
                    {% for mail in site.social_mail %}
                    {% assign mailName = mail[0] %}
                    {% assign mailAddr = mail[1] %}
                    var icon_{{ mailName }} = '<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ mailName }}"></use></svg>';
                    var span_{{ mailName }} = '<span>{{ mailAddr }}</span>';
                    res += '<div>'+ icon_{{mailName}} + span_{{ mailName }}+'</div>';
                    {% endfor %}
                    return res;
                  },
                  html: true,
                  placement: 'top',
                  trigger: 'focus',
                  sanitize: false,
                });
              })              
            </script>
            {% endif %}
          {% endfor %}
        {% endif %}
      </li>
      <li class="fadeInUp animated">
      {% if site.tags.size>0 %}
          {% for tag in site.tags %}
          <a href="tags.html#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
          {% endfor %}
      {% endif %}
      </li>
    </ul>
</main>
{% include footer.html %}