---
layout: default
title: 妙妙屋时间到了
page-title: 欢迎来到BerryQiu的妙妙屋
home-title: 这里有很多有意思的东西等着你去发现
description: 祝你玩的愉快~
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="post-list">
      {% include posts_paginator.html %}
    </ul>
</main>
{% include pageNav.html %}
{% include footer.html %}
{%- if site.color-bind.index -%}
<script>
  $(function() {
    $(".post-list li").mouseout(function() {
      $(this).css({
        "-webkit-box-shadow": "0 1px 3px rgba(0,37,55,.06)",
        'box-shadow': "0 1px 3px rgba(0,37,55,.06)",
      })
    });
    $(".post-list li").mouseover(function() {
      var bgcolor = $(this).attr("color");
      $(this).css({
        "-webkit-box-shadow": "0 1px 10px "+bgcolor,
        "box-shadow": "0 1px 10px "+bgcolor
      })
    })
  })
</script>
{%- endif -%}