---
layout: default
title: 标签
page-title: tags
home-title: Let's pick something.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        {% for tag in site.tags %}
        <li>
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            {%- assign color-num = post.content.size | modulo: site.page-color.size -%}
            {%- assign page-color = site.page-color[color-num] -%}
            {%- if post.color.size > 0 -%}
                {% assign page-color = post.color %}
            {%- endif -%}
            <a class="tag-post" color="{{page-color}}" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>

        {% endfor%}
    </ul>
</main>
{%- if site.color-bind.tags -%}
<script>
    $(function() {
        $(".tag-post").mouseover(function(){
            var bgcolor = $(this).attr("color");
            $(this).css({
                color: bgcolor
            })
        }).mouseout(function(){
            $(this).css({
                color: "#555"
            })
        })
        
    })
</script>
{%- endif -%}
{% include footer.html %}
