---
layout: note
title: 笔记-计算机网络
---
<div id="back-to-index">
    <a href="/notes">
        <i class="iconfont icon-back" style="font-size: 3em;"></i>
    </a>
</div>
<div id="fullpage">
    <div class="section" style="background-color: azure;">
        
        {% assign notes = site.tags['计算机网络'] %}

        {% for post in notes %}    
        <div class="slide">
            <div class="note-icon-div">
                <a href="{{post.url}}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-note"></use>
                </svg>
            </a>
            </div>
            <div class="note-name">
                
                    {{post.title}}

            </div>
            

            <div class="tips-div">
                <!-- <div class="tags-trigger">
                    <svg class="icon tag-icon" aria-hidden="true">
                        <use xlink:href="#icon-tags"></use>
                    </svg>
                </div> -->
                {% for tip in post.tips %}
                <div class="tip">
                    <i class="iconfont icon-tag" style="margin-right: 3px;"></i><span>{{ tip }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
    
</div>


<script>
    $(document).ready(function() {
	$('#fullpage').fullpage({
		//options here
		autoScrolling:true,
        scrollHorizontally: true,
        slidesNavigation: true,

	});

	//methods
	$.fn.fullpage.setAllowScrolling(true);
});
</script>


<script>
    $(function() {
        $('head').append("<style> \
        .fp-controlArrow.fp-prev{\
            border-color: transparent #333 transparent transparent\
        } \
        .fp-controlArrow.fp-next{\
            border-color: transparent transparent transparent #333\
        } \
        </style>")
    })
</script>

