<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/assets//js/jquery-3.4.1.js"></script>
<script src="{{ site.data.note.icon-src }}"></script>
<link rel="stylesheet" href="/assets/css/font.css">
<link rel="stylesheet" href="/assets/lib/fullpage/fullpage.css">
<script src="/assets/lib/fullpage/fullpage.js"></script>
<title>{{ page.title }}</title>
<link href="/assets/profile.jpg" rel="shortcut icon" />
<link href="/assets/profile.jpg" rel="apple-touch-icon-precomposed" />
<link rel="stylesheet" href="/assets/css/note-style.css" />
<link rel="stylesheet" href="{{site.icon-source}}" />
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu-url }}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>