.QRImg {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.mail-element {
    vertical-align: middle;
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
    padding-right: 5px;
}

.mail-div {
    padding-right: 5px;
    width: 100%;
}

.mail-div a {
    color: #333;
}

.mail-div:hover {
    background-color: #eee;
    border-radius: 5px;
}

.mail-text {
    bottom: 14px;
    text-align: center;
    position: relative;
}

.copy-success {
    display: none;
    height: 50px;
    width: 40%;
    position: fixed;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #333;
    background-color: #D4EDDA;
    z-index: 1060;
    border-radius: 5px;
    text-align: center;
}

.copy-success-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1em;
    font-family: inherit;
    font-weight: bold;

}

.vssue .vssue-pagination .vssue-pagination-select {
    padding-right: 2em;
}

.total-words-div {
    position: absolute;
    /* float: right; */
    top: -2em;
    right: 1em;
    float: right;
    color: white;
    font-size: 14px;
    display: block;
}



.markdown-body {
    position: relative;
}

.post-meta-divider {
    margin: 0 .5em;
}

.finished-task {
    margin: 0 .2em 0 1em;
    color: rgb(170, 214, 153);
    font-weight: bold;
    cursor: pointer;
}

.finished-task[date=''] {
    cursor: default;
}

.MathJax {
    outline:0px;
}

.MathJax span.mi, .MathJax span.mo{
    color: black;
}

.markdown-body .post-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

.post-subtitle {
    font-weight: 100;
}

.post-list li {
    position: relative;
}

.time-to-read-num {
    margin: 0 .5em;
}

.time-to-read {
    color: rgb(162, 168, 164);
    font-style: italic;
    position: absolute;
    top: 0px;
    right: 10px;
}
.post-preview {
    position: relative;
}

.post-title {
    max-width: 630px;
}

