@import "/assets/css/font.css";

.QRImg {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.mail-element {
    vertical-align: middle;
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
    padding-right: 5px;
}

.mail-div {
    padding-right: 5px;
    width: 100%;
}

.mail-div a {
    color: #333;
}

.mail-div:hover {
    background-color: #eee;
    border-radius: 5px;
}

.mail-text {
    bottom: 14px;
    text-align: center;
    position: relative;
}

.copy-success {
    display: none;
    height: 50px;
    width: 40%;
    position: fixed;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #333;
    background-color: #D4EDDA;
    z-index: 1060;
    border-radius: 5px;
    text-align: center;
}

.copy-success-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1em;
    font-family: inherit;
    font-weight: bold;

}

.vssue .vssue-pagination .vssue-pagination-select {
    padding-right: 2em;
}

.total-words-div {
    position: absolute;
    /* float: right; */
    top: -2em;
    right: 1em;
    float: right;
    color: white;
    font-size: 14px;
    display: block;
}



.markdown-body {
    position: relative;
}

.post-meta-divider {
    margin: 0 .5em;
}

.finished-task {
    color: rgb(170, 214, 153);
}

.task-icon {
    margin: 0 .2em 0 1em;
    cursor: pointer;
    font-weight: bold;
}

.canceled-task {
    color: rgb(235, 77, 108);
}

.finished-task[date=''] {
    cursor: default;
}

.MathJax {
    outline:0px;
}

.MathJax span.mi, .MathJax span.mo{
    color: black;
}

.markdown-body .post-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

.post-subtitle {
    font-weight: 100;
}

.post-list li {
    position: relative;
}

.time-to-read-num {
    margin: 0 .5em;
}

.time-to-read {
    color: rgb(162, 168, 164);
    font-style: italic;
    position: absolute;
    top: 0px;
    right: 10px;
}
.post-preview {
    position: relative;
}

.post-title {
    max-width: 630px;
}

.footnote-div {
    border:1px solid black;   
    max-width:250px;
    width: auto;
    height: auto;
    text-align:center;
    padding:6px;  
    background-color: white;
    position:absolute;
    z-index:99;
    display:none;    /*使div初始化时隐藏*/
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(149, 150, 149);
    font-size: small;
}

.post-list li:hover{
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
}

.footnotes {
    display: none;
    font-size: 12px;
    color: rgb(80, 80, 80);
    margin-bottom: .3em;
    margin-top: .5em;
}

.postpage-subtitle {
    background-color: transparent;
}

legend {
    font-size: small;
    color: rgb(109, 107, 107);
    margin-top: -1em;
    margin-bottom: 2em;
    text-align: center;
    display: block;
}

blockquote {
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 300px;
}

iframe {
    width: 100%;
    display: block;
    margin: 50px 0px;
}

.markdown-body {
    font-family: Mplus1p;
    /* font-weight: lighter; */
}

.search {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    line-height: 25px;
    font-size: 18px;
    top:25px;
}

.search-input {
    border-radius: 15px;
    padding: 0 35px 0 17px;
    height: 25px;
    font-size: 14px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: 0 0;
}

.search-input:hover {
    border-color: #333;
}

.search-input:focus{
    border-color: #333;
    outline-width: 0;
}

.search-results {
    background: white;
    border-radius: 10px;
    position: absolute;
    width: 200%;
    max-width: 500px;
    z-index: 30000;
    max-height: 400px;
    overflow: auto;
    border: 1px solid rgb(161, 161, 161);
    display: none;
}

.result-item {
    cursor: pointer;
    padding: 5px;
    line-height: 2em;
    border-radius: 10px;
}

.result-item:hover{
    background-color: #eee;
}

.total-match:hover {
    background: white;
    cursor: auto;
}

.post-header-search .search .search-icon{
    color: white;
}

.post-header-search .search .search-input{
    border-color: rgba(255, 255, 255, 0.829);
    color: white;
}

.post-header-search .search .search-input:hover{
    border-color: white;
}
.post-header-search .search .search-input:focus{
    border-color: white;
}

.post-header-search .search .search-input::placeholder{
    color: rgba(255, 255, 255, 0.76);
}

.post-title-tags {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 14px;
    color: white;
}

.post-title-tags li {
    display: inline-block;
    border: 3px dashed white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.post-title-tags a {
    color: white;
}

.go {
    height: 150px;
}

.box {
    height: 33%;
}

.go .gotobottom {
    border-top: 1px solid #333;
}

.show-toc:hover {
    background-color: #333;
    cursor: pointer;
}

.toc-div {
    background-color: white;
    display: none;
    /* position: absolute; */
    position: fixed;
    bottom: 0px;
    right: -310px;
    height: 100%;
    width: 300px;
    /* border: 1px solid #333; */
    /* border-radius: 10px; */
    overflow: auto;
}

.toc-content-list {
    display: block;
    text-align: left;
    padding: 5px;
    line-height: 1;
    overflow-x: hidden;
}

.toc-content {
    font-size: 14px;
    font-weight: normal;
}

.toc-title {
    color: #333;
    font-size: large;
    text-align: center;
    padding: 10px 10px 20px 10px;
    font-weight: bold;
}

.toc-h1 {
    font-size: 18px;
}
/* 
.toc-h2 {
    font-size: 16px;
}

.toc-h3, .toc-h4, .toc-h5 {
    font-size: 14px;
} */
/* div {
    overflow-y: auto;
    overflow-x: hidden;
} */

div::-webkit-scrollbar {
/*滚动条整体样式*/
width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
height: 1px;
display: none;
}
div::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
border-radius: 10px;
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
background   : #535353;
}
div::-webkit-scrollbar-track {
/*滚动条里面轨道*/
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
background   : #ededed;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}