@import "/assets/css/font.css";

.QRImg {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.mail-element {
    vertical-align: middle;
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
    padding-right: 5px;
}

.mail-div {
    padding-right: 5px;
    width: 100%;
}

.mail-div a {
    color: #333;
}

.mail-div:hover {
    background-color: #eee;
    border-radius: 5px;
}

.mail-text {
    bottom: 14px;
    text-align: center;
    position: relative;
}

.copy-success {
    display: none;
    height: 50px;
    width: 40%;
    position: fixed;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #333;
    background-color: #D4EDDA;
    z-index: 1060;
    border-radius: 5px;
    text-align: center;
}

.copy-success-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1em;
    font-family: inherit;
    font-weight: bold;

}

.vssue .vssue-pagination .vssue-pagination-select {
    padding-right: 2em;
}

.total-words-div {
    position: absolute;
    /* float: right; */
    top: -2em;
    right: 1em;
    float: right;
    color: white;
    font-size: 14px;
    display: block;
}



.markdown-body {
    position: relative;
}

.post-meta-divider {
    margin: 0 .5em;
}

.finished-task {
    color: rgb(170, 214, 153);
}

.task-icon {
    margin: 0 .2em 0 1em;
    cursor: pointer;
    font-weight: bold;
}

.canceled-task {
    color: rgb(235, 77, 108);
}

.finished-task[date=''] {
    cursor: default;
}

.MathJax {
    outline:0px;
}

.MathJax span.mi, .MathJax span.mo{
    color: black;
}

.markdown-body .post-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

.post-subtitle {
    font-weight: 100;
}

.post-list li {
    position: relative;
}

.time-to-read-num {
    margin: 0 .5em;
}

.time-to-read {
    color: rgb(162, 168, 164);
    font-style: italic;
    position: absolute;
    top: 0px;
    right: 10px;
}
.post-preview {
    position: relative;
}

.post-title {
    max-width: 630px;
}

.footnote-div {
    border:1px solid black;   
    max-width:250px;
    width: auto;
    height: auto;
    text-align:center;
    padding:6px;  
    background-color: white;
    position:absolute;
    z-index:99;
    display:none;    /*使div初始化时隐藏*/
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(149, 150, 149);
    font-size: small;
}

.post-list li:hover{
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
}

.footnotes {
    display: none;
    font-size: 12px;
    color: rgb(80, 80, 80);
    margin-bottom: .3em;
    margin-top: .5em;
}

.postpage-subtitle {
    background-color: transparent;
}

legend {
    font-size: small;
    color: rgb(109, 107, 107);
    margin-top: -1em;
    margin-bottom: 2em;
    text-align: center;
}

blockquote {
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 300px;
}

iframe {
    width: 100%;
    display: block;
    margin: 50px 0px;
}

.markdown-body {
    font-family: Mplus1p;
    /* font-weight: lighter; */
}