@media screen and ( max-width : 800px ){
    .total-words-div {
        color: black;
    }
    .time-to-read {
        color: rgb(162, 168, 164);
        font-style: italic;
        bottom: -60px;
        right: unset;
        top: unset;
        left: 10px;
    }

    .post-title-tags {
        top: 20%;
    }
    .post-titlearea span:first-child {
        top: 30px;
    }
}

