#fullpage {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #333;
}

.icon {
    width: 10em; height: 10em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: 0.5s;
}   
.note-name {
    text-align: center;
    margin: 50px 20px 20px 20px;
    font-size:2em;
    font-weight: bold;
}

.note-icon-div {
    text-align: center;
    padding: 10px;
}

.first-div {
    text-align: center;
}

.icon:hover {
    transform: scale(1.2);
}

#back-to-index {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
}
.tags-trigger {
    text-align: center;
    /* margin-top: 30px; */
    display: inline-block;
    vertical-align: middle;
}

.tags-trigger .icon {
    height: 1.5em;
    width: 1.5em;
}

.tips-div {
    
    /* border: 1px solid; */
    width: auto;
    text-align: center;
}

.tip {
    display: inline-block;
    border-radius: 10px;
    border: 5px solid #e7eaf1;
    padding: 5px 10px;
    margin: 10px;
    color: #6d6e6e;
    font-size: 14px;
}