<script>
    $(function() {
      {% for qrcode in site.SNS-qrcode %}
      {% assign iconName = qrcode[0] %}
      $("#{{ iconName}}-icon").popover({
        title: "扫一扫",
        html: true,
        placement: 'top',
        trigger: 'focus',
        content: '<img src="/assets/images/qrcodes/{{ iconName }}-QRcode.jpg" alt="{{ iconName }}-qrcode" class="QRImg"/>'
      })
      {% endfor %}
      $("#mail-icon").popover({
        content: function() {
          var res = '';
          {% for mail in site.social_mail %}
          {% assign mailName = mail[0] %}
          {% assign mailAddr = mail[1] %}
          var icon_{{ mailName }} = '<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ mailName }}"></use></svg>';
          var span_{{ mailName }} = '<span class="mail-text">{{ mailAddr }}</span>';
          res += '<div class="mail-div"><a class="mail-element" href="###">'+ icon_{{mailName}} + span_{{ mailName }}+'</a></div>';
          {% endfor %}
          return res;
        },
        html: true,
        placement: 'top',
        trigger: 'focus',
        delay: {
          show: 100,
          hide: 100,
        },
        sanitize: false,
        title: "点击复制邮箱"
      });           
  
      var clip = new ClipboardJS('.mail-element',{
        text: function(trigger) {
          return $(trigger).find("span").text();
        }
      });
      // 复制成功弹窗
      clip.on('success', function(){
        $(".copy-success").show(function(){
          $(this).removeClass("fadeInUp");
        });
        setTimeout(function() {
          $(".copy-success").addClass("fadeOutUp").hide(function(){
            $(this).addClass("fadeInUp").removeClass("fadeOutUp");
          })
        },1500);
      });
  
  
  
    });
  </script>