<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function () {
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0; //ie下
        document.body.scrollTop = 0; //非ie
    }
</script>
<script src="/assets/js/main.js"></script>

<!-- task任务列表美化 -->
<script>
    $(function () {
        $(".task-list-item-checkbox").prop("checked", function (i, origValue) {
            // console.log(origValue);
            if (!origValue) {
                return;
            }
            $(this).parent().html(function (i, origValue) {
                // console.log($(this).children());
                var matchedArr = origValue.match(/\[\[(.*?)\]\]/);
                // console.log(matchedArr);
                if (matchedArr == null) {
                    var tip = '';
                    var text = origValue;
                }
                else {
                    var tip = matchedArr[1];
                    var text = origValue.substring(0, origValue.indexOf("[["));
                }


                text = '<del>' + text +'</del>';
                if (tip != 'cancel') {
                    var date = tip;
                    if (date == undefined) date = '';
                    return text + '<i class="iconfont icon-finish finished-task task-icon" date="'+ date + '"></i>';
                }
                else if (tip == 'cancel') {
                    return text + '<i class="iconfont icon-cancel canceled-task task-icon"></i>';
                }
            })
        });
        $(".finished-task").attr("date", function(i, orginValue){
            if (orginValue.length == 0) {
                return;
            }
            // console.log(orginValue);
            $(this).popover({
                content: '完成于：'+orginValue,
                placement: 'auto right',
                trigger: 'hover'
            });
        })

        $(".canceled-task").popover({
            content: '可以有，但没必要',
            placement: 'auto right',
            trigger: 'hover'
        })
        
    })
</script>

<!-- 脚注增强 -->
<script>
    $(function() {
        $(".footnote").prop("href", function(i, value) {
            var id = value.split("#");
            id = "#" + id[1];
            id = id.replace(":", "\\:");
            // 获得脚注文字
            var footnoteText = $(id).text().trim().slice(0,-1);
            var footnote = $(this);
            var offset = footnote.offset();
            var popoverid = getUID(this.type);
            // t
            $(this).parent().parent().css({
                'position': 'relative'
            }).append("<div class='footnote-div' id='" + popoverid + "'></div>");
            
            var parentOffset = ($(this).parent().parent().offset());
            bodyOffset = $(".markdown-body").offset();
            // console.log(bodyOffset);
            $(this).mouseover(function(){

                $("#"+popoverid).html(function(value){
                    return "<span>" + footnoteText +"</span>"
                })
                .css('left',offset.left + 2 - bodyOffset.left - $("#"+popoverid).outerWidth() / 2 + 'px' )
                .css({
                    'top': offset.top - parentOffset.top + 30 + 'px'
                })
                .fadeIn();
                // console.log(offset.left+ 2 - bodyOffset.left+ 'px' );
                // console.log($("#"+popoverid).outerWidth())
            })
            $(this).mouseout(function() {
                $("#"+popoverid).css({
                    display: 'none',
                })
            })
        });
        
    })

    var getUID = function(prefix) {
        do prefix += ~~(Math.random() * 1000000)
        while (document.getElementById(prefix))
        return prefix
    }
</script>