<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
{% include androidColor.html %}
{% include third-part/mathjax.html %}
</head>
<body>
<!-- 默认根据文章字数选择颜色，页面中设置的颜色优先 -->
{% comment %}
{%- assign number = page.date | date: "%s" | divided_by: 100 | modulo: site.page-color.size -%}
{% endcomment %}
{%- assign content-size = page.content | strip_html | strip_newlines | remove: " " | size -%}
{%- assign color-num = page.content.size | modulo: site.page-color.size -%}
{%- assign page-color = site.page-color[color-num] -%}
{%- if page.color.size > 0 -%}
  {% assign page-color = page.color %}
{%- endif -%}
<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">
  <!-- 文章的推荐阅读时间/字数，浏览量 -->
  <div class="total-words-div">
    <!-- 文章字数 -->
    <span>{{ site.total-words-before }}
      {{ content-size }}
      {{ site.total-words-after }}</span>
    <!-- 预计阅读时间 -->
    <span class="post-meta-divider">|</span>
    <span>{{ site.time-to-read-before }}
      {{ content-size | divided_by: 350.0 | ceil }} 
      {{ site.time-to-read-after }}
    </span>
    <!-- 文章浏览量 -->
    <span class="post-meta-divider">|</span>
    <span>
      {{ site.post-pv-before }}
      <span class="busuanzi-value" id="busuanzi_value_page_pv" ></span>
      {{ site.post-pv-after }}
    </span>  

  </div>
  <!-- 子标题 -->
  {% if page.subtitle %}
    <div class="postpage-subtitle" style="border-left: 4px solid {{ page-color }}; border-right: 4px solid {{ page-color }}">
      {{ page.subtitle }}
    </div>
  {% endif %}


  <!-- 文章内容 -->
  {{ page.content }}
  <!-- 引入share模块 -->
  {% include share.html %}
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
{% include comment.html %}
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>

<!-- task美化 -->
<script>
$(function() {
  $(".task-list-item-checkbox").prop("checked", function(i, origValue){
    // console.log(origValue);
    if (!origValue){
      return;
    }
    // console.log(($(this).parent().text()));
    $(this).parent().html(function(i, origValue){
      // console.log($(this).children());
      return '<del>' + origValue + '</del><i class="iconfont icon-icon2 finished-task"></i>'
            + $(this).children("[type=hidden]").val();
    })
  })
})
</script>
</body>
</html>
